---------------------------------------------------------------------------------------------------
Version: 0.1.0
Date: 2025-06-27
  Translations:
    - {{ original_mod_name.replace('-', ' ').title() }}の日本語翻訳を追加
    - アイテム名・説明文の日本語化
    - GUI要素の日本語化
